<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandContourRecognition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HandContourRecognition.Properties.Settings>
            <setting name="SenssorConfigFileLocation" serializeAs="String">
                <value>SensorConfig.xml</value>
            </setting>
            <setting name="SenssorImageGeneratorNodeName" serializeAs="String">
                <value>Image1</value>
            </setting>
            <setting name="SenssorDepthGeneratorNodeName" serializeAs="String">
                <value>Depth1</value>
            </setting>
            <setting name="SenssorIRGeneratorNodeName" serializeAs="String">
                <value>IR1</value>
            </setting>
        </HandContourRecognition.Properties.Settings>
    </applicationSettings>
</configuration>